
/* Font import */

@font-face {
    font-family: heading;
    src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
    font-family: peragraph;
    src: url('../font/Raleway-Regular.ttf');
}
@font-face {
    font-family: link;
    src: url('../font/Poppins-Regular.ttf');
}

/* site primary color  */
:root{
    --primary-color:rgb(0, 95, 133);
    --dark-background: #5a5a5a;
    --secendary-color: #211f24;
}

::selection{
    background-color: rgb(0, 140, 255);
    color: #f8f8f8;
}

*{
    padding: 0;
    margin: 0;
    transition: all .6s ease;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family: peragraph;
    box-sizing: border-box;
    transition: all .6s ease;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: link;
}
a:hover{
    color: #fff;
}
.unipadding{
    max-width: 85%;
    margin: 0 auto;
    z-index: 3;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
    color: #fff;
    text-align: center;
}

/* section title  */
.title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: var(--primary-color);
}
.title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: var(--primary-color);
}

span{
    color: rgba(0, 190, 204, 0.87);
    /* text-shadow: 0 0 5px rgba(0, 0, 0, .5); */
}


/* Top Navigation bar */

nav {
	overflow: auto;
	width: 100%;
	padding: 10px 0;
	position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, .5); */
    color: #000;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{
    height: 50px;

}
.logo p{
    color: #fff;
    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    float: right;
    margin-top: 35px;
}
.menubar{
    display: none;
}
menu{
    float: right;
    width: 65%;
    text-align: right;
    transition: all .6s ease;
    
}
menu ul li{
    list-style: none;
    display: inline-block;
    transition: all .6s ease;
}
menu ul li a {
	text-transform: uppercase;
	padding: 5px 10px;
	display: block;
	position: relative;
	transition: all .6s ease;
	z-index: 1;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 600;
    /* color: rgb(49, 49, 49); */
}
menu ul li a::before {
	content: '';
	width: 0;
	height: 15px;
	background-color: var(--primary-color);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all .6s ease;
	z-index: -1;
    border-radius: 30px;
    border-top-left-radius: 0;
	border-bottom-left-radius: 0;  
}
menu ul li a:hover::before,
menu ul li a:focus::before,
menu ul li a:active::before{
    width: 100%;
}
menu ul li a:hover{

    text-shadow: -3px 3px 10px black;
}
menu ul li a:focus,
menu ul li a:active{
    color: #556b2f;
}
.portfolio-btn{
    background-color: transparent;
    border-radius: 30px;
    border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    border: 3px solid var(--primary-color);
    background: var(--primary-color);
}
.portfolio-btn:focus,
.portfolio-btn:active{
    background-color: var(--primary-color);
    color: red;
}
.portfolio-btn:hover{
    color: #f1f1f1;
    background-color: var(--primary-color);

}

.portfolio-btn:hover::before,
.portfolio-btn:focus::before,
.portfolio-btn:active::before{
    width: 0;
}

/* Banner start */

#home{
    min-height: 100vh;
    position: relative;
    z-index: 3;
    display: flex;
    overflow: hidden;
    background: url('../Images/Rasel-mahmud-banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;  
    width: 100%;
    
}

/* #home::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-color: rgba(0, 0, 0, .6);
} */
.home-content-bg{
    display: flex;
    width: 100%;
    align-self: end;
    justify-content: end;

}

#home .content {
	/* width: 100%; */
	/* padding-right: 5px; */
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: start;
    padding-bottom: 5%;
    height: 50vh;
}
#home .content p {
	font-family: heading;
	font-weight: 200;
	font-size: 1rem;
	word-spacing: 10px;
	letter-spacing: 3px;
	text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-thickness: 1px;
	text-decoration-style: solid;
	line-height: 35px;
    
}
#home .content h1 {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 18px;
	font-weight: 200;
    /* word-wrap: break-word; */
    text-align: left;
    /* margin-right: -18px;
    margin-left: 20px; */
}
#home .content a {
	padding: 0 55px;
	background-color: var(--primary-color);
	border-radius: 40px;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 60px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	letter-spacing: 5px;
	text-shadow: 0 0 20px black;
	border: 5px solid var(--primary-color);
    transition: all .7s ease-in-out;
    margin-top: 1rem;
}
#home .content a:hover,
#home .content a:focus,
#home .content a:active{
    background-color: transparent;
    border: 5px solid var(--primary-color);
    color: #fff;
}

.portfolio-full-height{
    padding-top: 40px;
}

/* Banner End */


/* Services Aria Start */
.section-services {
    padding: 50px 0;
	font-family: "Poppins", sans-serif;
	background-color: #211f24;
	color: #fff;
}

.section-services .header-section {
	margin-bottom: 35px;
    margin-top: 100px;
}

.section-services .header-section .title span {
	color: var(--primary-color);
}

.section-services .header-section .description {
	color: #6f6f71;
}

.section-services .single-service {
	margin-top: 40px;
	background-color: #24252a;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;

}
.single-service:hover{
    transform: translateY(-5%);
    box-shadow: 0 0 10px #000;
}
.project {
    height: 13rem;
    width: 100%;
    overflow: hidden;
}
.section-services .single-service .part-1 {
	padding: 40px 40px 25px;
	border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
	margin-bottom: 25px;
	font-size: 50px;
	color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.section-services .single-service .part-1 .title {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
}

.section-services .single-service .part-2 {
	padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
	margin-bottom: 22px;
	color: #6f6f71;
	font-size: 14px;
	line-height: 1.8em;
}

.section-services .single-service .part-2 a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .2rem 0;
}
.section-services .single-service .part-2 a:hover,
.section-services .single-service .part-2 a:focus{
    background: var(--dark-background);
}

.section-services .single-service .part-2 a i {
	margin-right: 10px;
	color: var(--primary-color);
}


/* Services Aria End */


/* About Aria start */

#about{
    min-height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: url(../Images/Rasel-mahmud-about-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;

}
.clear-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    filter: none;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image{
    width: 40%;
    filter: none;
}
.about-image img {
	height: 400px;
	width: 400px;
	border: 5px solid var(--primary-color);
	padding: 10px;
	border-right: none;
	border-end-end-radius: 80px;
	border-top-right-radius: 80px;
}
.about-content h1{
    padding-bottom: .5rem;
}
.about-content {
	width: 50%;
	color: #f8f8f8;
	padding-left: 10px;
}
.about-content p{
    padding: 5px 0;
    text-transform: capitalize;
    margin: 0;
}
.about-content a{
    background-color: transparent;
    border-radius: 30px;
    border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    border: 3px solid var(--primary-color);
    text-shadow: -3px 3px 10px black;
    padding: 0 20px;
}
.about-content a:hover{
    background-color:  var(--primary-color);
    color: #fff;
}

/* skill bar progress  */

.skills-bar{
    width: 95%;
    background: rgba(0, 0, 0, 0.3) ;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: .5rem;
}


.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}
.skills-bar .bar .info span{
   font-size: 16px; 
   font-weight: 500;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px  rgba(0, 0, 0, 0.8);


    animation: animate 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);  
    }
}

.progress-line span{
    height: 100%;
    width: 80%;
    background: #6655ee;
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

.progress-line.html span{
    width:  95%;
}

.progress-line.css span{
    width: 90%;
}


.progress-line.js span{
    width: 50%;
}

.progress-line.bst span{
    width: 85%;
}

.progress-line.react span{
    width: 20%;
}

.progress-line span::before{
    position: absolute;
    content:  "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0px;
    border-top-color: #000;


    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after{
    position: absolute;
    
    right: 0;
    top: -28px;
    background: #000;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 1px 8px;
    border-radius: 4px;

    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
 
   
}

@keyframes showText2{
   100%{
       opacity: 1;
   } 
}

.progress-line.html span::after{
    content:  "95%";
}

.progress-line.css span::after{
    content:  "90%";
}


.progress-line.js span::after{
    content:  "50%";
}

.progress-line.bst span::after{
    content:  "85%";
}

.progress-line.react span::after{
    content:  "20%";
}
.bar .info span{
    color: #fff;
}


/* About Aria End */


/* Why me  */

#why-me{
    min-height: 70vh;
    flex-direction: column;
    background: #211f24;
    
}
#why-me p{
    text-align: center;
    width: 50%;
    margin: 30px 0;
    color: rgb(150, 148, 148); 
}
/* Why me End  */


/* Contact Aria */

#contact{
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: black;

}
#contact::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    filter: blur(5px);
    background-image: url('../Images/Rasel-mahmud-contact-bg.jpg');
    background-position: center center;
    background-size: cover;
    overflow: hidden;

}
.contact-content{
    min-height: 100vh;
}
.contact-content h1 {
	text-align: center;
	font-family: heading;
	padding-top: 90px;
    padding-bottom: .5rem;
    color: #f1f1f1;
}
.contact-information{
    width: 50%;
    float: left;
    z-index: 2;
    margin-bottom: 50px;
}
.contact-information a{
    color: #f1f1f1;
    display: block;
}
.contact-information a i{
    margin-right: 10px;
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 50%;
    color: #f8f8f8;
    margin-top: 10px;
    font-size: 12px;
    text-shadow: 0 0 5px #000;
}
.contat-social-icon a i{
    padding: 16px;
    font-size: 2rem;
    background-color: rgba(95, 95, 95, 0.2);
}
.contat-social-icon a{
    border-radius: 50%;
}
.contat-social-icon a i:hover,
.contat-social-icon a i:focus,
.contat-social-icon a i:visited{
    background: var(--primary-color);

}
.location {
	line-height: 2px !important;
    cursor: text;
    text-indent: 35px;
}

iframe{
    padding-top: 10px;
}

/* contact-form */
::placeholder { 
    color: #ffffff9a;
    text-shadow: 0px 0px 2px rgb(87, 87, 87);
    opacity: 1; 
    /* font-weight: 500; */
  }
  
  :-ms-input-placeholder { 
    color: var(--primary-color);
  }
  
  ::-ms-input-placeholder { 
    color: var(--primary-color);
  }

.contact-form{
    width: 50%;
    float: right;
 
}

form{
    text-align: center;
    background-color: rgba(95, 95, 95, 0.2);
    width: 80%;
    float: right;
    border-radius: 10px;
}
form .fa-user {
	color: var(--primary-color);
	font-size: 50px;
	margin-top: -50px;
	margin-bottom: 5px;
}
form h3{
    background-color: var(--primary-color);
    text-align: center;
    display: inline;
    padding: 10px 40px;
    color: #f1f1f1;
}
form input{
    border: none;
    outline-style: none;
    background-color: transparent;
    padding: 10px 0;
    display: inline-block;
    width: 80%;
    color: #fff;
    border-bottom: 3px solid #f1f1f1;
    text-indent: 50px;
}
form input:focus{
    border-bottom: 3px solid var(--primary-color);
}
form input[name="Name"]{
    margin-top: 40px; 
}
form input[placeholder="Write Discribe"] {
	border: .20px solid #f1f1f1;
	padding-bottom: 100px;
	text-transform: capitalize;
	margin-top: 20px;
}
form input[placeholder="Write Discribe"]:focus{
    border-color: var(--primary-color);
}
form input[type="submit"]{
    background-color: transparent;
    border-radius: 30px;
    width: unset;
    padding: 5px 40px;
    margin: 40px 0;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .6s ease-in-out;
    text-indent: 0;
    border: 3px solid var(--primary-color);
}
form input[type="submit"]:hover{
    background-color: var(--primary-color);
}

/* Contact Aria End */





/*-----Footer-----*/

.footer-content{
    background: #000;
    padding: 25px 0;
    /* font-family: ; */
}
.footer-content p{
    color: #fff;
    font-family: link;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-content a{
    color: var(--primary-color);
    text-decoration: none;
    font-family: link;
}
.footer-content a:hover{
    color: #0098b3;
    transition: .4s;
}


.success{
    background: #fff;
    display: none;
    padding: 10px 30px;
    color: #000;
    border-radius: 30px;
    animation: status 4s ease forwards;
}
@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    70%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/* Portfolio page style */


.project-discribe{
    text-align: center !important;
}








/* animation on scroll */


/* navigation animation */
.scrolling-active{
    background-color: rgba(0, 0, 0, .6);
    color: #fff;        
}

/* service animation */



/* Keyframe for animation */

@keyframes menubar {
    0%{
        opacity: .1;
        padding: 0;
    }
    50%{
        opacity: .5;
        padding: 17px 15px;
    }
    100%{
        opacity: 0;
        padding: 25px 24px;
    }

}
